:root {
  --white: #ffffff;
  --white-200: #eff8ff;
  --white-400: #effbff;
  --gray-light: #d8d8d8;
  --gray: #6e7275;
  --gray-200: #293145;
  --blue--: #0f9afe;
  --blue-300: #155f94;
}

html,
li,
a {
  text-decoration: none;
  list-style: none;
}

body {
  background: var(-white-);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
